Chapter_01/lab_6/files/*
Chapter_04/lab_23/logs/*
Chapter_04/lab_25/web/*
Chapter_05/book_store/bin/*
Chapter_05/book_store/web/*
Chapter_07/lab_34_35/html/*
Chapter_07/lab_34_35/tmp/*
Chapter_09/lab_45/temp
Chapter_09/lab_45/generated
Chapter_09/lab_47/js
Chapter_10/lab_50_51/temp
Chapter_10/lab_52/temp
launch.json
settings.json
__pycache__