Chapter_01/lab_6/files/*
Chapter_04/lab_23/logs/*
Chapter_04/lab_25/web/*
Chapter_05/book_store/bin/*
Chapter_05/book_store/web/*
Chapter_07/lab_34_35/html/*
Chapter_07/lab_34_35/tmp/*
launch.json
settings.json
__pycache__