Chapter_01/lab_6/__pycache__/*
Chapter_01/lab_6/files/*
Chapter_04/lab_23/__pycache__/*
Chapter_04/lab_23/logs/*
Chapter_04/lab_25/__pycache__/*
Chapter_04/lab_25/web/*
Chapter_05/book_store/__pycache__/*
Chapter_05/book_store/bin/*
Chapter_05/book_store/web/*